<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<nav th:replace="fragments/commons::header"></nav>

<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <h1 class="mb-4" style="padding-top: 5%">Редактиране на курс</h1>
</div>
<form
        th:object="${course}"
        th:action="@{/edit-course/{id}(id=*{id})}"
        th:method="patch"
        class="form-add-course"
        style="padding-left: 30%;
              padding-right: 30%;">
    <div class="mb-3">
        <input th:field="*{title}"
               type="text" class="form-control col-12 col-sm-6" name="title" placeholder="Заглавие"
               th:value="*{title}"/>
        <!--    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"-->
        <!--           id="usernameHelpInline"-->
        <!--           class="rounded"></small>-->
        <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
               th:errorclass="error"></small>
    </div>
    <div class="mb-3">
        <input th:field="*{picture}"
               type="text" class="form-control col-12 col-sm-6" name="title" placeholder="Линк към снимка"
               th:value="*{picture}"/>
        <!--    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"-->
        <!--           id="usernameHelpInline"-->
        <!--           class="rounded"></small>-->
        <small th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}"
               th:errorclass="error"></small>
    </div>
    <div class="mb-3">
            <textarea th:field="*{description}"
                      type="text" class="form-control" name="text" placeholder="Описание" th:value="*{description}"/>

        <!--    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"-->
        <!--           id="usernameHelpInline"-->
        <!--           class="rounded"></small>-->
        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
               th:errorclass="error"></small>
    </div>
    <div class="mb-3">
        <input th:field="*{video}"
               type="text" class="form-control col-12 col-sm-6" name="text" placeholder="Видео" th:value="*{video}"/>

        <!--    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"-->
        <!--           id="usernameHelpInline"-->
        <!--           class="rounded"></small>-->
        <small th:if="${#fields.hasErrors('video')}" th:errors="*{video}"
               th:errorclass="error"></small>
    </div>
    <div class="mb-3">
        <input th:field="*{points}"
               type="number" class="form-control col-12 col-sm-6" name="text" placeholder="Цена" th:value="*{title}"/>

        <!--    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"-->
        <!--           id="usernameHelpInline"-->
        <!--           class="rounded"></small>-->
        <small th:if="${#fields.hasErrors('points')}" th:errors="*{points}"
               th:errorclass="error"></small>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Добави</button>

    </div>
</form>

</body>
</html>