<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header">
</header>
<section  id="book-a-table" class="book-a-table registerAndLoginBg">
  <div class="row g-0 mx-lg-0 about-text py-5" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-4">Регистрация</h1>
    </div>
    </div>
    <form th:action="@{/register}"
          th:method="post"
          th:object="${registerDto}"
          class="form-register"
          data-aos="fade-up"
          data-aos-delay="100"
          style="padding-left: 30%;
              padding-right: 30%;">
      <div class="row gy-4">
        <div class="control-group">
          <input th:field="*{username}"  th:errorclass="bg-danger"
                 type="text" class="form-control" name="username" placeholder="Потребителско име"
                 id="username"/>
          <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                 th:errorclass="error"></small>
        </div>
        <div class="control-group">
          <input  th:field="*{email}" th:errorclass="bg-danger" type="email" class="form-control" name="email" placeholder="E-mail адрес" />
          <small  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                  th:errorclass="error"></small>
        </div>
        <div class="control-group">
          <input th:field="*{firstName}" th:errorclass="bg-danger" type="text" class="form-control" name="firstName" placeholder="Име" />
          <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                 th:errorclass="error"></small>
        </div>
        <div class="control-group">
          <input  th:field="*{lastName}" th:errorclass="bg-danger" type="text" class="form-control" name="lastName" placeholder="Фамилия" required=""/>
          <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                 th:errorclass="error"></small>
        </div>
        <div class="control-group">
          <input  th:field="*{age}" th:errorclass="bg-danger" type="number" class="form-control" name="age" placeholder="Години"/>
          <small th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                 th:errorclass="error"></small>
        </div>
        <div class="control-group">
          <input   th:field="*{password}" th:errorclass="bg-danger"type="password" class="form-control" name="password" placeholder="Парола" required=""/>
          <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                 th:errorclass="error"></small>
        </div>
        <div class="control-group">
          <input  th:field="*{confirmPassword}" th:errorclass="bg-danger" type="password" class="form-control" name="confirmPassword" placeholder="Повторете паролата" required=""/>
          <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                 th:errorclass="error"></small>
        </div>
        <div class="control-group">

          <select  th:field="*{gender}" th:errorclass="bg-danger"  class="form-control form-control-lg" name="gender">
            <option value="" selected>Избери пол</option>
            <option th:each="c : ${T(com.example.academy.model.enums.GenderEnum).values()}" th:value="${c}" th:text="${c}"></option>
          </select>
          <small th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
                 th:errorclass="error"></small>
        </div>
        <div class="control-group">

          <select  th:field="*{role}" th:errorclass="bg-danger"  class="form-control form-control-lg" name="gender">
            <option value="" selected>Регистрирай се като:</option>
            <!--            <option th:each="c : ${T(com.example.academy.model.enums.RolesEnum).values()}" th:value="${c}" th:text="${c}"></option>-->
            <option th:value="USER" th:text="Курсист"></option>
            <option th:value="TEACHER" th:text="Преподавател"></option>
          </select>
          <small th:if="${#fields.hasErrors('role')}" th:errorclass="error" th:errors="*{role}"
                ></small>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
      </div>
    </form>
  </div>
</section>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>>